<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <oracle.dataaccess.client>
    <settings>
      <add name="DynamicEnlistment" value="0"/>
      <add name="PerformanceCounters" value="4095"/>
      <add name="PromotableTransaction" value="promotable"/>
      <add name="StatementCacheSize" value="50"/>
      <add name="ThreadPoolMaxSize" value="30"/>
      <add name="TraceFileName" value="c:\temp\odpnet2.trc"/>
      <add name="TraceLevel" value="127"/>
      <add name="TraceOption" value="1"/>
    </settings>
  </oracle.dataaccess.client>
  <appSettings>
    <add key="connection" value="OracleXE"/>
  </appSettings>
<connectionStrings>
  <!--<add name="OracleXE" connectionString="Data Source=XE;User ID=ppsint;Password=ppsint;Enlist=false;Pooling=true;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client"/>-->
  <add name="OracleXE" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE)));User Id=ppsint;Password=ppsint;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
